.fondomenu{
    background-color: white;
}
.fondomenu2{
    background-color: green;
}

.fuente1{
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 16px;
    color: red;
    font-weight:bolder;
}
.fuente2{
    font-family: 'Edu QLD Beginner', cursive;
    color: blue;
    font-weight:bolder;

}
.fuente3{
    font-family: 'Edu QLD Beginner', cursive;
font-family: 'Merienda', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
color:green;
font-weight:bolder
}